*{
    margin:0;
    padding:0;
  }
  .content{
    display:flex;
    flex-direction:column;
    align-items:center;
    
  }
  .search-bar{
    background-color:#eee;
    width:50%;
  }
  footer{
    margin-top:1.2rem;
    font-size:small;
  }
  .section-col-3{
    width:50%;
    margin-top:0.2rem;
    display:flex;
  }
  .col-1{
    flex-grow:2;
    background-color:#7EE5DA;
  }
  .col-2{
    margin-left:0.2rem;
    flex-grow:1;
    background-color:#70CCC2;
  }
  .col-3{
    margin-left:0.2rem;
    background-color:#62B3AA;
    flex-grow:2;
  }